<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">  
  	<h1 class="home-title center">Your Happy Hour starts now!</h1> 
  	<h4 class="center home-title">Find the best beer, food &amp; drink deals near you</h4>                     
	<%= form_tag(search_path, method: "get", id: "ui-element", class: "sb_wrapper navbar-form", role: "search") do %>
	  <%= label_tag(:search, "Search for:", class: "sr-only") %>
	  <div class="form-group input-group searchbar">
	    <%= text_field_tag(:search, params[:search], class: "form-control sb_input searchbar-input", placeholder: "E.g. wine, Newtown, Miss Peaches...") %> 
	    <span class="input-group-btn">
	  	  <%= button_tag(type: 'submit', class: " searchbar-btn btn btn-default sb_search") do %>
            <span class='glyphicon glyphicon-search'></span>
          <% end %>
	    </span> 
	  </div>
	  <h4 class = "searchbar-tags">SEARCH TRENDS: <%= raw ActsAsTaggableOn::Tag.most_used(5).map { |t| link_to "#"+"#{t.name}", tag_path(t.name), class: "label label-success"  }.join(' ') %></h4>
	  <%= render 'shared/dropdown' %>
	<% end %>
	<div class="alert alert-info alert-closest-deal">
		<button type="button" class="close" data-dismiss="alert">
		<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
		<h3 id ="test-aj center" style= "padding-left: 10px;">Looking for a quick fix? Check out this deal near you!</h3>
		<div class= "deal-box">
			<% @closest_deal = closest_deal %>
			<% @closest =  Deal.find(@closest_deal) %>
			<%= render partial: 'deals/closest_deal', locals: { deal: @closest } %>
			<%#= render Deal.first %>
		</div>
	</div>
  </div>
</div>
<% if !user_signed_in? %>
  <%= render 'shared/fb_signin' %>
<% end %>
<div class="container">
  <div class="container-fluid deals-grid owl-carousel" style = "padding-top:10px;">
  	<div class="featured-daypicker">
  	<div class="btn-group btn-group-justified">
 	  <div class="btn-group">
		<%= link_to "Today", fetch_deals_path( day: Date.current.to_date ), remote: true, class: "btn btn-default" %>
		  </div>
  	  <div class="btn-group">
  	  	<%= link_to "Tomorrow", fetch_deals_path( day: (Date.current + 1.day).to_date ), remote: true, class: "btn btn-default" %>
		<!-- <button type="button" class="btn btn-default">Tomorrow</button> -->
		  </div>
  	  <div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		  Choose Day
		  <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<% [2,3,4,5,6,7,8].each do |d| %>
			<% day = (Date.current + d.days).to_date %>
			  <li><%= link_to (Time.now.to_date + d.days).strftime("%A %e %b"), fetch_deals_path( day: "#{day}" ), remote: true %></li>
			<% end %>
		</ul>
		  </div>
	</div>
	<!-- slick slider -->
	<div class="container-fluid deal-carousel" id = "dealcarousel" style="inline-flex">
		<!-- <div class="pull-left date">
			<p class="left-date">31</p><p class="left-month">Oct</p><p class="left-week">Fri</p>
		</div>
		<div id="deal-container">
			<div class="content">
			  <div class="slider responsive" id = "deal_slider"> -->
				<%= render partial: 'shared/carousel', locals: {day: @day, feed: @feed} %>
				<!-- <div><div><a href = "#"><img src="assets/misspeaches.jpg" class="img-circle img-responsive" /></a></div></div>
				<div><div><a href = "#"><img src="assets/misspeaches.jpg" class="img-circle img-responsive" /></a></div></div>	 -->
			<!--   </div>	
			</div>
		</div> -->
	</div>
	<!-- slick slider -->
  </div>
</div>

<hr>

<div class="container container-featured">
  <h2 class="featured-title">Featured Deals</h2>
  <!-- Example row of columns -->
  <div class="row featured">
    <div class="col-xs-6 col-sm-3">
    	<h4>Melbourne Cup</h4>
      <%= link_to image_tag("melbournecup.jpg", alt: "Melbourne cup", class: "img-thumbnail"), 'deals/tags/Melbourne%20Cup' %>
    </div>
    <div class="col-xs-6 col-sm-3">
    <h4>Pubs</h4>
      <%= link_to image_tag("coopersarms.jpg", alt: "Pubs", class: "img-thumbnail"), 'deals/tags/Pub' %>
    </div>
    <div class="col-xs-6 col-sm-3">
    	<h4>Live Music</h4>
	  <%= link_to image_tag("corridor.jpg", alt: "Live Music", class: "img-thumbnail"), 'deals/tags/Music' %>
	</div>
    <div class="col-xs-6 col-sm-3">
    	<h4>Outdoor Dining</h4>
      <%= link_to image_tag("zanzibar.jpg", alt: "Outdoor Dining", class: "img-thumbnail"), 'deals/tags/Outdoor%20Dining' %>
    </div>
  </div>