<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">  
  	<h1 class="home-title center">Your Happy Hour starts now!</h1> 
  	<h4 class="center home-title">Find the best beer, food &amp; drink deals near you</h4>                     
	<% form_tag search_path, :method => 'get' do %>
		  <p>
		    <%= text_field_tag :search, params[:search] %>
		    <%= submit_tag "Search", :name => nil %>
		  </p>
		<% end %>
		<form id="ui_element" class="sb_wrapper navbar-form" role="search">
	    <!--<p>
			<input class="sb_input" type="text">
			<input class="sb_search" type="submit" value="">
		</p>-->
		<div class="form-group input-group searchbar">
		<input type="text" class="form-control sb_input searchbar-input" placeholder="E.g. wine, Newtown, Miss Peaches...">
		<span class="input-group-btn">
			<button type="submit" class="btn btn-default sb_search searchbar-btn"><span class="glyphicon glyphicon-search"></span></button>
		</span>
	  </div>
	  <%= render 'shared/dropdown' %>
	</form>
	<%= render 'shared/modal' %>
	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">
		<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
		<h4 id ="test-aj">Check out these deals near you</h4>
		<div class= "deal-box">
			<%#= render Deal.first %>
			<p style="text-align:center;">
			  <!-- Large modal -->
			<button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Here now!</button>
			<button class="btn btn-primary btn-success" type="button">Where next?</button>
			</p>
		</div>
	</div>
  </div>
</div>
<% if !user_signed_in? %>
  <%= render 'shared/fb_signin' %>
<% end %>
<div class="container">
  <div class="container-fluid deals-grid owl-carousel" style = "padding-top:10px;">
  	<div class="featured-daypicker">
  	<div class="btn-group btn-group-justified">
 	  <div class="btn-group">
		<%= link_to "Today", fetch_deals_path( day: Date.current.to_date ), remote: true, class: "btn btn-default" %>
		  </div>
  	  <div class="btn-group">
  	  	<%= link_to "Tomorrow", fetch_deals_path( day: (Date.current + 1.day).to_date ), remote: true, class: "btn btn-default" %>
		<!-- <button type="button" class="btn btn-default">Tomorrow</button> -->
		  </div>
  	  <div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		  Choose Day
		  <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<% [2,3,4,5,6,7,8].each do |d| %>
			<% day = (Date.current + d.days).to_date %>
			  <li><%= link_to (Time.now.to_date + d.days).strftime("%A %e %b"), fetch_deals_path( day: "#{day}" ), remote: true %></li>
			<% end %>
		</ul>
		  </div>
	</div>
	<!-- slick slider -->
	<div class="container-fluid deal-carousel" id = "dealcarousel" style="inline-flex">
		<!-- <div class="pull-left date">
			<p class="left-date">31</p><p class="left-month">Oct</p><p class="left-week">Fri</p>
		</div>
		<div id="deal-container">
			<div class="content">
			  <div class="slider responsive" id = "deal_slider"> -->
				<%= render partial: 'shared/carousel', locals: {day: @day, feed: @feed} %>
				<!-- <div><div><a href = "#"><img src="assets/misspeaches.jpg" class="img-circle img-responsive" /></a></div></div>
				<div><div><a href = "#"><img src="assets/misspeaches.jpg" class="img-circle img-responsive" /></a></div></div>	 -->
			<!--   </div>	
			</div>
		</div> -->
	</div>
	<!-- slick slider -->
  </div>
</div>

<hr>

<div class="container container-featured">
  <h2 class="featured-title">Featured Deals</h2>
  <!-- Example row of columns -->
  <div class="row featured">
    <div class="col-xs-6 col-sm-3">
    	<h4>Melbourne Cup</h4>
      <%= link_to image_tag("melbournecup.jpg", alt: "Melbourne cup", class: "img-thumbnail", style: "height:95px;"), 'deals/tags/Melbourne%20Cup' %>
    </div>
    <div class="col-xs-6 col-sm-3">
    <h4>Soul Kitchen</h4>
      <%= image_tag("kuletos.jpg", alt: "Soul Kitchen", class: "img-thumbnail") %>
    </div>
    <div class="col-xs-6 col-sm-3">
    	<h4>Live Music</h4>
		<%= image_tag("kuletos.jpg", alt: "Live Music", class: "img-thumbnail") %>
	</div>
    <div class="col-xs-6 col-sm-3">
    	<h4>Cocktail Bars</h4>
    	<%= image_tag("misspeaches.jpg", alt: "Cocktail Bars", class: "img-thumbnail") %>
    </div>
  </div>