<% provide(:title, @user.name) %>
<div class="row">	  
  <div class="col-lg-6 center">
    <%= userpic_for(@user,"large") %><br/>
    <h1 class="center">
      <%= @user.name %>
    </h1>
    <p class="center"><%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-sm btn-warning" %></p>
  </div> 
  <div class="col-lg-6">
	<div class="user-stats">
	  <p>Total rated deals: <%= current_user.totalrateddeals %></p>
	  <div class="user-faves">
	  	<h3><span class="glyphicon glyphicon-star"></span> Favourite deals (<%= current_user.totalrateddeals %>)</h3>
	    <ul class="deals">
	    <% @deals = current_user.find_liked_items %>
	    <% @deals.each do |deal| %>
	    <%= render partial: 'deals/deal', locals: {deal: deal} %>
	    <% end %>
	    </ul>
	  </div>
      <div class="user-badges">
	    <h3>Badges</h3>
	    <p>Start exploring the deals to earn badges!</p>
      </div>
	  <div class="user-tags">
		<h3>You Like...</h3>
		<h4><span class="label label-info">Beer</span>
		<span class="label label-info">Rooftops</span>
		<span class="label label-info">Gin</span>
		<span class="label label-info">Steak</span>
		<span class="label label-info">Burger</span>
		<%= link_to "Add+", '#', class: "label label-info" %></h4>			
	  </div>
	</div>
  </div>
</div>
