<div class="row center stats-row">
  <div class="col-xs-6">
	<p class="user-stat-num"><span class="user-number user-number-rated"><%= current_user.totalrateddeals %></span><br/><%= "deal".pluralize(current_user.totalrateddeals) %> rated
	</p>
	<p class="user-stat-num"><%= link_to current_user.checkins.count, user_checkins_path(current_user), class: "user-number user-number-checkins" %><br/><%= "deal".pluralize(current_user.checkins.count) %> checked out
	</p>
	<p class="user-stat-num"><%= link_to current_user.find_liked_items.count, user_wishlist_path(current_user), class: "user-number user-number-wanted" %><br/><%= "deal".pluralize(current_user.find_liked_items.count) %> wanted
	</p>
  </div>
  <div class= "col-xs-6">
	<p class="user-stat-num"><%= link_to unique_venues_visited_count(current_user), user_visited_path(current_user), class: "user-number user-number-visited" %><br/><%= "spot".pluralize(unique_venues_visited_count(current_user)) %> visited
	</p>
	<p class="user-stat-num"><span class="user-number user-number-visited-week">
	<% dealsweek = current_user.checkins.where("created_at >= ?", 1.week.ago.utc).order("created_at DESC").to_a.count %>
	<%= current_user.checkins.where("created_at >= ?", 1.week.ago.utc).order("created_at DESC").to_a.count %>
	</span><br/><%= "deal".pluralize(dealsweek) %> this week
	</p>
	<p class="user-stat-num"><span class="user-number user-number-liked"><%= current_user.find_up_voted_items.count %></span><br/>liked <%= "deal".pluralize(current_user.find_up_voted_items.count) %>
	</p>
  </div>
</div>