<div class="row center stats-row">
  <div class="col-xs-6">
	<p class="user-stat-num">
		<% if @user.totalrateddeals > 0 %>
		<span class="user-number user-number-rated"><%= @user.totalrateddeals %></span><br/><%= "deal".pluralize(@user.totalrateddeals) %> rated
		<% else %>
		<span class="user-number user-number-zero">0</span><br/> deals rated
		<% end %>
	</p>
	<p class="user-stat-num">
		<% if @user.checkins.count > 0 %>
		  <%= link_to @user.checkins.count, user_checkins_path(@user), class: "user-number user-number-checkins" %><br/><%= "deal".pluralize(@user.checkins.count) %> checked out
		<% else %>
		  <span class="user-number user-number-zero">0</span><br/> deals checked out
		<% end %>
	</p>
	<p class="user-stat-num">
		<% if @user.find_liked_items.count > 0 %>
		<%= link_to @user.find_liked_items.count, user_wishlist_path(@user), class: "user-number user-number-wanted" %><br/><%= "deal".pluralize(@user.find_liked_items.count) %> wanted
		<% else %>
			<span class="user-number user-number-zero">0</span><br/> deals wanted
		<% end %>
	</p>
  </div>
  <div class= "col-xs-6" style= "border-left: 3px solid #00a6df;">
	<p class="user-stat-num">
		<% if @user.unique_venues_visited_count > 0 %>
		  <%= link_to @user.unique_venues_visited_count, user_visited_path(@user), class: "user-number user-number-visited" %><br/><%= "spot".pluralize(@user.unique_venues_visited_count) %> visited
		<% else %>
			<span class="user-number user-number-zero">0</span><br/> spots visited
		<% end %>
	</p>
	<p class="user-stat-num">
		<% dealsweek = @user.checkins.where("created_at >= ?", 1.week.ago.utc).order("created_at DESC").to_a.count %>
		<% if dealsweek > 0 %>
		  <span class="user-number user-number-visited-week"><%= dealsweek %></span><br/><%= "deal".pluralize(dealsweek) %> this week
		<% else %>
		  <span class="user-number user-number-zero">0</span><br/> deals this week
		<% end %>
	</p>
	<!-- <p class="user-stat-num">
		<% if @user.find_up_voted_items.count > 0 %>
		  <span class="user-number user-number-liked"><%= @user.find_up_voted_items.count %></span><br/>liked <%= "deal".pluralize(@user.find_up_voted_items.count) %> liked
		<% else %>
		  <span class="user-number user-number-zero">0</span><br/> deals liked
		<% end %>
	</p> -->
	<p class="user-stat-num">
		<% ubadges = @user.badges.count %>
		<% if ubadges > 0 %>
		  <span class="user-number user-number-liked"><%= ubadges %></span><br/><%= "badge".pluralize(dealsweek) %> awarded
		<% else %>
		  <span class="user-number user-number-zero">0</span><br/> badges awarded
		<% end %>
	</p>
  </div>
</div>