<% provide(:title, 'Add Venue') %>
<h1 class = "center">Add Venue</h1>
<p class = "center">Create new venue using the form below:</p>
<div class="form-container">
    <%= form_for(@venue, html: { role: "form" }) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	<div class="form-group">
      <%= f.label :name, "Venue Name" %>
      <%= f.text_field :name, class: "form-control" %>
	</div>
	<div class="form-group">
      <%= f.label :phone, "Phone" %>
      <%= f.text_field :phone, class: "form-control" %>
	</div>
	<div class="form-group">
      <%= f.label :website, "Website" %>
      <%= f.text_field :website, placeholder: "e.g. http://www.venue.com.au", class: "form-control" %>
	</div>
	<div class="form-group">
      <%= f.label :email, "Email" %>
      <%= f.text_field :email, class: "form-control" %>
	</div>
	<div class="form-group">
      <%= f.label :street, "Street Address" %>
      <%= f.text_field :street, class: "form-control" %>
	</div>
	<div class="form-group">
      <div class="row">
        <div class="col-xs-8">  
          <%= f.label :suburb, "Suburb" %>
          <%= f.text_field :suburb, class: "form-control" %>
		</div>
	    <div class="col-xs-4">	  
	      <%= f.label :postcode, "Postcode" %>
	      <%= f.text_field :postcode, class: "form-control" %>
		</div>
	  </div>
	</div>
	<div class="form-group">
      <%= f.label :region, "Area" %>
      <%= f.text_field :region, class: "form-control" %>
	</div>
	  <%= f.hidden_field :state, placeholder: "NSW" %>
      <%= f.hidden_field :country, placeholder: "Australia" %>
    <!--Opening hours information section-->
	  <h4>Opening Hours</h4>
	  <%= f.fields_for :hours, html: { class: "form-horizontal" } do |builder| %>
	  <%= render 'shared/error_messages', object: builder.object %>
	        <div class="form-group">
	            <%= builder.label :day, Date::DAYNAMES[builder.object.day][0..2], class: "badge col-xs-12 col-sm-1" %>
		        <%= builder.hidden_field :day, placeholder: builder.object.day %>
		      <div class="clearfix visible-xs-block"></div>
		      <div class="col-xs-12 col-sm-8 col-xs-offset-1 col-sm-offset-0">
		      	<%#= builder.label :open_time, " from" %>
		        <%= builder.time_select :open_time, minute_step: 30, ampm:true, ignore_date:true, include_blank:true %>
		        <%= builder.label :close_time, " till " %>
		        <%= builder.time_select :close_time, minute_step: 30, ampm:true, ignore_date:true, include_blank:true %>
		      </div>
		      <div class="clearfix visible-xs-block"></div>
		      <div class="col-xs-12 col-sm-3 col-xs-offset-1 col-sm-offset-0">
		      	<%= builder.check_box :closed %><%= builder.label :closed, "Closed", class: "label-closed" %>
		      </div>
		   </div>
	  <% end %>
	 <!--Opening hours information section-->
      <%= f.submit "Create Venue", class: "btn btn-large btn-primary btn-block", data: { :'loading_text' => "Saving..." } %>
    <% end %>
</div>