<% provide(:title, @venue.name) %>
<div class = "container" style= "padding-top: 30px;">
<div class="row">
<div class="col-lg-6">
<div class="image-header">
  <h1 class="center user-name"><%= @venue.name %><!--<span class="glyphicon glyphicon-camera"></span>--></h1>
  <% img = imagefile_for(@venue) %>
  <%= image_tag("#{img}", alt:"#{@venue.name}", class: "img-rounded", style:"width:100%;") %>
  
</div>
</div>
<div class="col-lg-6 venue-right">
  <div class="container-venue container-fluid">
	<div class="venue-info">
    
    <h3 class = "center">Venue Info</h3>		
		<div class="col-xs-6 col-lg-6">

          <p><%= @venue.street %><br/>
          <%= @venue.suburb %> <%= @venue.postcode %><br/>
          Ph: <%= @venue.phone %><br/>
          <%= online_contacts_for(@venue) %></p>
          <p><%= raw @venue.tag_list.map { |t| link_to "#" + t, venue_tag_path(t) }.join(' ') %>
          <% if @venue.hours.any? %>
            <%= today_hours(@venue) %>
            <div id="demo" class="collapse today-hours">
              <ul>
                <% for hour in @venue.hours %>
                <li>
                  <% unless hour.closed? %>
                    <%= raw "<span class= 'label label-info'>" + Date::DAYNAMES[hour.day][0..2] + "</span> " + hour.open_time.strftime("%l:%M %p").to_s.downcase! + " to " + hour.close_time.strftime("%l:%M %p").to_s.downcase! %>
                  <% else %>
                    <%= raw "<span class= 'label label-info'>" + Date::DAYNAMES[hour.day][0..2] + "</span> " + "Closed" %>
                  <% end %>
                </li>
                <% end %>
              </ul>
            </div>
          <% end %>
		  <% if (!current_user.nil? && current_user.admin?) %>
          <div>
            <%= link_to "Edit Venue", edit_venue_path(@venue) %>
            <span> | </span>
            <%= link_to "Create Deal", new_deal_path(@venue) %>
            <span> | </span>
            <%= render 'shared/delete_link', object: @venue %>
      	  </div>
      	  <div class="hidden">Latitude: <%= @venue.latitude %><br/>
      	  	Longitude: <%= @venue.longitude %></div>
          <% end %>
        </div>
        <div class="col-xs-6 col-lg-6 center">
          <h4 style="color:darkgreen;"><%= distance_to_user(@venue) %> km</h4>
          <p><%= link_to "http://maps.google.com.au/maps?q="+ "#{@venue.latitude}" + "," + "#{@venue.longitude}" do %>
              <span class="glyphicon glyphicon-map-marker"></span> Show map
          <% end %>
          <p>
    	  <%= link_to(venue_path(@venue.nearbys(5).first), { class: "btn btn-primary btn-warning" }) do %>
          <span class="glyphicon glyphicon-forward"></span>  Where next?
        <% end %>
    	</div>
	</div>
</div><hr>
	<% if @venue.deals.any? %>
      <div class="deal-info">
	    <h3 class="center">Current deals (<%= @venue.deals.count %>)</h3>
  		<ul class="deals">
	      <%= render(partial: "deals/deal", collection: @deals) %><%#.each { |d| render partial: "deals/deal", locals: { deal: d }} %>
	    </ul>
	  </div>   
    <% else %>
    <h3 class="center">Current deals</h3>
      <p class="bg-info">This place has no deals for now, come back later!</p> 
    <% end %>
</div>
</div>
</div>