<% provide(:title, @venue.name) %>
<%= render 'shared/modal' %>
<div class="row">
<div class="col-lg-6">
<div class="image-header">
  <% img = imagefile_for(@venue) %>
  <%= image_tag("#{img}", alt:"#{@venue.name}", class: "img-rounded", style:"width:100%;") %>
  <h1 class="center"><%= @venue.name %><!--<span class="glyphicon glyphicon-camera"></span>--></h1>
</div>
</div>
<div class="col-lg-6">
  <div class="container-venue container">
	<div class="venue-info clearfix">		
		<div class="col-xs-6 col-lg-3">
          <p><%= @venue.street %><br/>
          <%= @venue.suburb %> <%= @venue.postcode %><br/>
          Ph: <%= @venue.phone %><br/>
          <%= online_contacts_for(@venue) %></p>
          <p><%= raw @venue.tag_list.map { |t| link_to "#" + t, venue_tag_path(t) }.join(' ') %>
          <% if @venue.hours.any? %>
            <%= today_hours(@venue) %>
            <div id="demo" class="collapse today-hours">
              <ul>
                <% for hour in @venue.hours %>
                <li>
                  <% unless hour.closed? %>
                    <%= h Date::DAYNAMES[hour.day][0..2] + ": " + hour.open_time.strftime("%l:%M %p").to_s + " to " + hour.close_time.strftime("%l:%M %p").to_s %>
                  <% else %>
                    <%= Date::DAYNAMES[hour.day][0..2] + ": " + "Closed" %>
                  <% end %>
                </li>
                <% end %>
              </ul>
            </div>
          <% end %>
		  <%# if current_user.admin? %>
          <div>
            <%= link_to "Edit Venue", edit_venue_path(@venue) %>
            <span> | </span>
            <%= link_to "Create Deal", new_deal_path(@venue) %>
            <span> | </span>
            <%= render 'shared/delete_link', object: @venue %>
      	  </div>
      	  <div class="hidden">Latitude: <%= @venue.latitude %><br/>
      	  	Longitude: <%= @venue.longitude %></div>
          <%# end %>
        </div>
        <div class="col-xs-6 col-lg-3 center">
          <h4 style="color:darkgreen;"><%= distance_to_user(@venue) %> km</h4>
          <p><a href="#"><span class="glyphicon glyphicon-map-marker"></span> Show map</a><p>
    	  <button class="btn btn-primary btn-warning" type="button">Where next?</button>
    	</div>
	</div>
</div>
	<% if @venue.deals.any? %>
      <div class="deal-info">
	    <h3 class="center">Current deals (<%= @venue.deals.count %>)</h3>
  		<ul class="deals">
	      <%= render @deals %>
	    </ul>
	  </div>   
    <% else %>
    <h3 class="center">Current deals</h3>
      <p class="bg-info">This place has no deals for now, come back later!</p> 
    <% end %>
</div>
</div>