<li>
 <div class="panel panel-default panel-deal">
  <div class="panel-body">
  	<div class="row">
  		<div class="col-xs-8">
	  		<h3 class="deal-title"><%= deal.title %></h3>
	  		<%= deal_duration_for(deal) %>
	  		<h4><%= deal.venue.name %> <span class="glyphicon glyphicon-cutlery"></span></h4>
			<p><%= raw deal.tag_list.map { |t| link_to "#" + t, tag_path(t) }.join(' ') %>
		</div>
		<div class="col-xs-4 scores-box">
	  		<% if deal.score > 0 %>
	  		<p><span class="glyphicon glyphicon-fire"></span> Rating: <%= deal.score %><br/>
	  		<% end %>
	  		<% if deal.userlikes > 0 %>
	  		<span class="glyphicon glyphicon-heart"></span> Likes: <%= deal.userlikes if deal.userlikes > 0%></p>
	  		<% end %>
	  		<%#= render 'shared/checkin_form' if user_signed_in? %>
			<button type="button" class="btn btn-default btn-sm">
			 <span class="glyphicon glyphicon-star"></span><%= link_to "Here now?", checkin_deal_path(deal), method: :put %>
			</button>
		</div>
	</div>
	<p><%= deal.content %><br/>
	<%# if current_user.admin? %>
      <%= link_to "edit", edit_deal_path(deal) %>
      <span> | </span>
      <%= link_to "delete", deal, method: :delete,
                                     data: { confirm: "Are you sure?" },
                                     title: deal.venue %>
    <%# end %></p>
	<div class="btn-group-sm">
		<%# if current_user.find_up_voted_items.include?(deal) %>
			<button type="button" class="btn btn-default btn-lg">
			 <span class="glyphicon glyphicon-heart-empty"></span><br/><%= link_to "Love", like_deal_path(deal), method: :put %>
			</button>
		
		<%# if current_user.find_down_voted_items.include?(deal) %>
			<button type="button" class="btn btn-default btn-lg">
			 <span class="glyphicon glyphicon-flash"></span><br/><%= link_to "Not a fan", dislike_deal_path(deal), method: :put %>
			</button>
		<% if current_user.find_liked_items.include?(deal) %>
			<button type="button" class="btn btn-warning btn-lg" >
			 <span class="glyphicon glyphicon-star"></span><br/><%= link_to "Want", fave_deal_path(id: deal), method: :put, remote: true %>
			</button>
		<% else %>
			<span id="want-button"><button type="button" class="btn btn-default btn-sm">
			 <span class="glyphicon glyphicon-star"></span><br/><%= link_to "Want", fave_deal_path(id: deal), method: :put, remote: true %>
			</button></span>
		<% end %>
		<button type="button" class="btn btn-default btn-lg">
		 <span class="glyphicon glyphicon-share"></span><br/>Tell friends
		</button>
	</div>	  
  </div>
 </div>
</li>