<% provide(:title, 'Search') %>
<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
<%- unless @lat_lng %>
<script>
  getGeoLocation();
</script>
<%- end %>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class = "row">
  <div class ="col-lg-12 center">
	<div class="jumbotron">
	  <div class="container">
	  <%= form_tag(search_path, method: "get", id: "ui-element", class: "sb_wrapper navbar-form searchbar", role: "search") do %>
	  <%= label_tag(:search, "Search for:", class: "sr-only") %>
	  <div class="form-group input-group searchbar-input">
	    <%= text_field_tag(:search, params[:search], class: "form-control sb_input", placeholder: "E.g. wine, Newtown, Miss Peaches...") %> 
	    <span class="input-group-btn">
	  	  <%= button_tag(type: 'submit', class: " searchbar-btn btn btn-default sb_search") do %>
            <span class='glyphicon glyphicon-search'></span>
          <% end %>
	    </span> 
	  </div>
	  <%= render 'shared/dropdown' %>
	<% end %>
		<%= render 'shared/modal' %>
		<!-- Alert for a current location matching a deal-->
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
			<h3>Are you using this deal now?</h3>
			<div class= "deal-box">
				<p>Deal info: Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris</p>
				<p style="text-align:center;">
				  <!-- Large modal -->
				<button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Here now!</button>
				<button class="btn btn-primary btn-success" type="button">Where next?</button>
				</p>
			</div>
		</div>
		<!-- Alert for a current location matching a deal-->
	  </div>
	</div>
  </div>
</div>
<div class = "row">
  <div class ="col-lg-4 center">
  	<div style='width: 400px;'>
  		<div id="map" style='width: 400px; height: 400px;'></div>
	</div>
  </div>
  <div class ="col-lg-6">
	<div class="">
		<p>Sort by: <span class="label label-info">Today ></span>
		      <span class="label label-default">+ Near you</span>
		      <span class="label label-success">+ Price</span>
		      <span class="label label-warning">+ Atmosphere</span></p>
		<p>Found <span class="badge"><%= @deals.count %></span> <%= "result".pluralize(@deals.count) %></p>
	    <a href="#"><button type="button" class="btn btn-default btn-sm">List View</button></a>
	    <a href = "#"><button type="button" class="btn btn-primary btn-sm">Map View</button></a></p>
	    <h3>SEARCH RESULTS</h3>
	    <% @deals.each do |deal| %>  
	      <%= render partial: 'deals/deal', :locals => {:deal => deal} %>
	    <% end %>
	</div>
  </div>
</div>
<!--<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({ 
		provider: { disableDefaultUI: true }, 
		internal: {id: 'map'}}, 
		function(){
	  		markers = handler.addMarkers(<%=raw @hash.to_json %>);
	  // markers = handler.addMarkers([
	  //   {
	  //     "lat": 0,
	  //     "lng": 0,
	  //     "picture": {
	  //       "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
	  //       "width":  36,
	  //       "height": 36
	  //     },
	  //     "infowindow": "hello!"
	  //   }
	  // ]);
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds();
	});
</script>-->