<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("after5.png", alt: "After5"), root_path, id: "logo", class: "navbar-brand" %>
      
    </div>
    <div class="navbar-collapse collapse">
    	<ul class="nav nav-pills pull-left">
    	  <li><%= link_to "Home", root_path %></li>
    	  <li><%= link_to "About", about_path %></li>
    	  <% if user_signed_in? %>
          <li><%= link_to "Profile", user_path(current_user) %></li>
        <% end %>
        <%# if current_user.admin? %>
          <li><%= link_to "Add Venue", new_venue_path %></li>
        <%# end %>
    	  <li><%= link_to "Contact", contact_path %></li>
    	</ul>
    </div><!--/.navbar-collapse -->
    <div class="navbar-user pull-right">
        <% if user_signed_in? %>
           <%= userpic_for(current_user) %>
           Logged in as <span class="glyphicon glyphicon-user"></span> <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
      </div>
  </div>
</header>