<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- Favicons -->
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'apple_touch_icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" >
  <%= render 'layouts/shim' %>
</head>
<body class = "cbp-spmenu-push">
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=856521624371589&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
  <!-- <div id = "content" class="detail scrollable"> -->
  <%= render 'layouts/header' %>
  <div class="container-fluid">
    <%# if notice %>
     <!-- <p class="alert alert-success"><%= notice %></p>
    <%# end %>
    <%# if alert %>
      <p class="alert alert-danger"><%= alert %></p>-->
    <%# end %>
    <% if flash %>
      <%# flash.each do |key, value| %>
          <%# key ||= success %> 
          <%#= content_tag(:div, value, class: "alert alert-#{key}") %>
      <%= render :partial => 'shared/my_custom_flash', :flash => flash, locals: { :extrabtn => false } %>
      <%# end %>
    <% end %>
    <div id = "ajaxModal"></div>
		<%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
	</div>
<!-- </div> -->
  <%- unless @lat_lng %>
<script>
  getGeoLocation();
</script>
<%- end %>
<script>
  var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        menuRight = document.getElementById( 'cbp-spmenu-s2' ),
        // menuTop = document.getElementById( 'cbp-spmenu-s3' ),
        // menuBottom = document.getElementById( 'cbp-spmenu-s4' ),
        showLeft = document.getElementById( 'showLeft' ),
        // showRight = document.getElementById( 'showRight' ),
        // showTop = document.getElementById( 'showTop' ),
        // showBottom = document.getElementById( 'showBottom' ),
        showLeftPush = document.getElementById( 'showLeftPush' ),
        //showRightPush = document.getElementById( 'showRightPush' ),
        body = document.body;
 
// showLeft.onclick = function() {
//     classie.toggle( this, 'active' );
//     classie.toggle( menuLeft, 'cbp-spmenu-open' );
//     disableOther( 'showLeft' );
// };
// showRight.onclick = function() {
//     classie.toggle( this, 'active' );
//     classie.toggle( menuRight, 'cbp-spmenu-open' );
//     disableOther( 'showRight' );
// };
// showTop.onclick = function() {
//     classie.toggle( this, 'active' );
//     classie.toggle( menuTop, 'cbp-spmenu-open' );
//     disableOther( 'showTop' );
// };
// showBottom.onclick = function() {
//     classie.toggle( this, 'active' );
//     classie.toggle( menuBottom, 'cbp-spmenu-open' );
//     disableOther( 'showBottom' );
// };
showLeftPush.onclick = function() {
    classie.toggle( this, 'active' );
    classie.toggle( body, 'cbp-spmenu-push-toright' );
    classie.toggle( menuLeft, 'cbp-spmenu-open' );
    disableOther( 'showLeftPush' );
};
// showRightPush.onclick = function() {
//     classie.toggle( this, 'active' );
//     classie.toggle( body, 'cbp-spmenu-push-toleft' );
//     classie.toggle( menuRight, 'cbp-spmenu-open' );
//     disableOther( 'showRightPush' );
// };
 
// function disableOther( button ) {
//     if( button !== 'showLeft' ) {
//         classie.toggle( showLeft, 'disabled' );
//     }
//     if( button !== 'showRight' ) {
//         classie.toggle( showRight, 'disabled' );
//     }
//     if( button !== 'showTop' ) {
//         classie.toggle( showTop, 'disabled' );
//     }
//     if( button !== 'showBottom' ) {
//         classie.toggle( showBottom, 'disabled' );
//     }
//     if( button !== 'showLeftPush' ) {
//         classie.toggle( showLeftPush, 'disabled' );
//     }
//     if( button !== 'showRightPush' ) {
//         classie.toggle( showRightPush, 'disabled' );
//     }
// }
</script>
<script>
$('#myModal').modal();
$("#ajaxModal").hide();

  var search = false;
  //$("#search-box").hide();
  $(document).ready(function(){
    $("#srch-button").click(function(){
      $("#search-box").slideToggle("fast")
    });
  });
</script>
</body>
</html>