<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" >
  <%= render 'layouts/shim' %>
</head>
<body>
	<!-- <div class="snap-drawers visible-xs visible-sm" id="snap-drawers">
            <div class="snap-drawer snap-drawer-left">
                <div>
                    <ul>
                        <h3>Welcome to After5</h3>         
                        <%# if user_signed_in? %>            
                          <li><%= link_to "View Profile", user_path(current_user) %></li>
                          <li><%= link_to "Settings", interests_user_path(current_user), class: "label label-info" %><</li>
                        <%# else %>
                          <li><%= link_to "Sign Up", user_omniauth_authorize_path(:facebook) %></li>
                        <%# end %>
                        <%# if current_user.admin? %>
                          <li><%= link_to "Add Venue", new_venue_path %></li>
                        <%# end %>
                        <li><%= link_to "Search", search_path %></li>
                        <li><%= link_to "Venue Index", venues_path %></li>
                        <li><%= link_to "About", about_path %></li>
                        <li><%= link_to "Contact", contact_path %></li>
                        <li><%= link_to "Terms of Service", terms_path %></li>
                        <%# if user_signed_in? %>
                        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                        <%# end %>
                    </ul>
                </div>
            </div>
    </div> -->
  <!-- <div id = "content" class="detail scrollable"> -->
  <%= render 'layouts/header' %>
  <div class="container-fluid">
    <%# if notice %>
     <!-- <p class="alert alert-success"><%= notice %></p>
    <%# end %>
    <%# if alert %>
      <p class="alert alert-danger"><%= alert %></p>-->
    <%# end %>
    <% if flash %>
      <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
    <% end %>
		<%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
	</div>
<!-- </div> -->
  <%- unless @lat_lng %>
<script>
  getGeoLocation();
</script>
<%- end %>
<script type="text/javascript">
//     // settings {
//     //   tapToClose: false;
//     //   touchToDrag: false;
//     // }
//     //var check = true;
//     /* instantiate snapper object, and define pane to slide left or right */
//     var snapper = new Snap({
//         element: document.getElementById('content')
//     });

//     myToggleButton = document.getElementById('open-left');

//     myToggleButton.addEventListener('click', function(){

//     if( snapper.state().state=="left" ){
//         snapper.close();
//     } else {
//         snapper.open('left');
//     }

// });

//     // var snapper_head = new Snap({
//     //   element: document.getElementById('content_head')
//     // });


//     /*  define cross-browser event handler. */
//     // var addEvent = function addEvent(element, eventName, func) {
//     //     if (element.addEventListener) {
//     //         return element.addEventListener(eventName, func, false);
//     //     } else if (element.attachEvent) {
//     //         return element.attachEvent("on" + eventName, func);
//     //     }
//     // };

//     // /* when the element with id 'open-left' is clicked, use the public snapper.open() method to slide the pane rightward, to reveal the LEFT menu */
//     // addEvent(document.getElementById('open-left'), 'click', function() {
//     //   if(check == true){
//     //     snapper.open('left');
//     //     //snapper_head.open('left');
//     //     //document.getElementById("snap-drawers").style.display = "block";
//     //     check = false;
//     //   }
//     //   else{
//     //     snapper.close();
//     //     //snapper_head.close();
//     //     //document.getElementById("snap-drawers").style.display = "none";
//     //     check = true;
//     //   }
        
//     // });

//     // addEvent(document.getElementById('open-right'), 'click', function() {
//     //   if(check == true){
//     //     snapper.open('right');
//     //     //document.getElementById("snap-drawers").style.display = "block";
//     //     check = false;
//     //   }
//     //   else{
//     //     snapper.close();
//     //     //document.getElementById("snap-drawers").style.display = "none";
//     //     check = true;
//     //   }
        
//     // });

//     /* Prevent Safari opening links when viewing as a Mobile App */
//     (function(a, b, c) {
//         if (c in b && b[c]) {
//             var d, e = a.location,
//                     f = /^(a|html)$/i;
//             a.addEventListener("click", function(a) {
//                 d = a.target;
//                 while (!f.test(d.nodeName))
//                     d = d.parentNode;
//                 "href" in d && (d.href.indexOf("http") || ~d.href.indexOf(e.host)) && (a.preventDefault(), e.href = d.href)
//             }, !1)
//         }
//     })(document, window.navigator, "standalone");
</script>
<script>
  var search = false;
  //$("#search-box").hide();
  $(document).ready(function(){
    $("#srch-button").click(function(){
      $("#search-box").slideToggle("fast")
    });
  });
</script>
<script type="text/javascript">
        // Call the actual slider function (DON'T REMOVE)
        var disqus_shortname = 'slickcarousel';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
</body>
</html>